<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 配置别名，目的是在后台可以看到这个服务的别名，方便进行区分 -->
    <dubbo:application name="consumer" owner="programmer" organization="dubbox"></dubbo:application>
    <!-- 配置中心
        protocol 协议
        address 注册中心地址
     -->
    <dubbo:registry protocol="zookeeper" address="192.168.43.175:12181,192.168.43.175:12182,192.168.43.175:12183"></dubbo:registry>

    <dubbo:reference id="permissionService" interface="com.darben.service.ProductService" ></dubbo:reference>

</beans>